include /test
include /font-awesome
include /jquery
include /bootstrap

html
	head

		title Lixquid

		link(
			href="images/favicon.png"
			rel="icon"
			type="image/png"
		)
		link(
			href="css/cover/main.css"
			rel="stylesheet"
		)

		!= ( HEAD || [] ).join( "" )

	body
		p test
		p font awesome test: #[+fa.user]
		+testmixin

		!= ( BODY || [] ).join( "" )

