doctype html
html
	head
		title Lixquid

		link( rel="icon", type="image/png", href="img/favicon.png" )
		link( rel="stylesheet", href="hint.min.css" )

		// Font Awesome

		link(
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css",
			rel="stylesheet",
			integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1",
			crossorigin="anonymous"
		)
		mixin fa
			- attributes.class = "fa fa-" + attributes.class
			i&attributes( attributes )

		// Bootstrap
		link(
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css",
			rel="stylesheet",
			integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj",
			crossorigin="anonymous"
		)
		script(
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js",
			integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU",
			crossorigin="anonymous"
		)

		link( rel="stylesheet", href="style.css" )


	body
		a#bg-info(
			href="https://wall.alphacoders.com/big.php?i=103542",
			class="hint--bottom-left hint--rounded hint--no-animate",
			aria-label="Background provided by \"chacha08\"",
		)
			+fa.picture-o.fa-lg

		#logo_container
			#links
				a(
					href="http://steamcommunity.com/id/Lixquid/",
					class="hint--bottom hint--rounded hint--no-animate",
					aria-label="Steam Profile"
				)
					+fa.steam.fa-2x
				a(
					href="http://github.com/lixquid",
					class="hint--bottom hint--rounded hint--no-animate",
					aria-label="Github"
				)
					+fa.github.fa-2x

			img( alt="Logo", src="img/logo.png" )#logo
			br

			span.lead#quote Inspirational Quote

		//- #more_arrow
		//- 	+fa.angle-down.fa-2x

		//- #push
		//- #footer
		//- 	p hello

		script.
			var quotes = [
				"Metal Gear?",
				"This isn't a car",
				"It's like the reverse corkscrew, but you spin me",
				"Certified Penetration Tester",
				"\"I'm still nippy :(\"",
				"\"I should add that to the site footer.\"",
				"ok hello",
				"Software Developers were seen shouting at a bus",
				"Get out of the lift",
				"Achieved with CSS3",
				"I would",
				"it is a mystery",
				"sometimes I wonder if science thinks about me as much as I think about it idk",
				"hue",
				"And away we go",
				"mvp",
				"rip in peace",
				"You are the Dancing Queen<br />Lettuce Scream<br />Holy Submarine",
				"( ͡° ͜ʖ ͡°)",
				"Reticulating Splines",
				"You wouldn't download a website",
				"sitty thing??",
				"Work harder. Get a car.",
				"I solemnly swear I am up to no good.",
				"Game of the Year",
				"Britishname Complicated",
				"nyello",
				"i lied",
				"That's moderately Raven",
				"Snaaaaaaaake!",
				"Not enough minerals",
				"Spawn more Overlords",
				"ayyyyyy",
				"But what is the plural of Haggis?",
				"You're not even a real journalism.",
				"[website intensifies]",
				"*Angrily fixes Bow Tie*",
				"And the crowd goes mild",
				"well, yes",
				"Why does my tea taste like flowers?",
				"> tfw your almonds aren't activated",
				"You have to be there to be not square",
				"\"I'm happy with my Fisher Price sized Return key\"",
				"smell my hair",
				"Best Chick Flick: Chicken Run",
				"how do u face ur problem if ur problem is ur face??",
				"why fall in love when u can fall asleep",
				"*you're",
				"with great power comes great electricity bill",
				"7/11 was a part time job",
				"there was an attempt",
				"u did a do",
				"Be aware of me!",
				"The Alright Wall Of China",
				"You've still got spots!",
				"It was me. I let the dogs out.",
				"Humanity was born without claws, without fangs, without scales.<br />So we forged them in fire and crafted them of steel.",
				"Oh yes, lot's of yeah.",
				"Ah, the Rolls Royce. Truly the Rolls Royce of automobiles.",
				"Geth do not *intentionally* infiltrate.",
				"/dev/null",
				"kill yourself or die trying",
				"well hello there",
				"not so fast mister",
				"yes i'll hold",
				"now playing",
				"music enabled for 009"
			];
			document.getElementById( "quote" ).innerHTML = quotes[ Math.floor( Math.random() * quotes.length ) ];
