include /font-awesome
include /jquery
include /bootstrap

html
	head

		//- Misc

		title Lixquid

		link(
			href="/images/favicon.png"
			rel="icon"
			type="image/png"
		)

		//- CSS

		link(
			href="/css/cover/main.css"
			rel="stylesheet"
		)

		!= ( HEAD || [] ).join( "" )

	body

		!= ( BODY || [] ).join( "" )
