include /font-awesome
include /jquery
include /bootstrap

html
	head

		//- Misc

		title Lixquid

		link(
			href="/images/favicon.png"
			rel="icon"
			type="image/png"
		)

		//- CSS

		link(
			href="/css/cover/main.css"
			rel="stylesheet"
		)

		!= ( HEAD || [] ).join( "" )

	body

		#header--container
			a(
				href="/"
			).header--logo
				img(
					src="#TODO#"
				)
			a( href="/projects" ).header--link Projects
			.header--separator /
			a( href="/gadgets" ).header--link Gadgets
			.header--separator /
			a( href="/blog" ).header--link Blog


		#center--container
			a(
				href="http://steamcommunity.com/id/Lixquid/"
				data-toggle="tooltip"
				data-placement="top"
				title="Steam Profile"
			).center--link
				+fa.steam.fa-2x
			a(
				href="http://github.com/Lixquid/"
				data-toggle="tooltip"
				data-placement="top"
				title="Github"
			).center--link
				+fa.github.fa-2x

			br

			img#center--logo(
				src="/images/cover/logo.png"
			)

			br

			#center--quote Inspirational Quote

		#pushdown
		#footer--arrow
			+fa.angle-down.fa-2x

		#footer

		!= ( BODY || [] ).join( "" )
		script( src="/js/cover/main.js" )
